@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

* {
    font-family: "Rubik Mono One", monospace;
}

body {
    margin: 0;
    overflow: hidden;
}

.main-title {
    font-size: calc(10px + 5vw);
}

button {
    all: unset;
}

.page-link,
a,
button {
    transition: all 0.2s;
}

.page-link {
    color: rgb(120, 120, 120);
    font-size: calc(7px + 1.8vw);
}

button {
    padding: 10px;
    font-size: calc(30px + 1.8vw);
}

a {
    color: rgb(0, 150, 255);
    text-decoration: none;
    line-height: 2;
    padding: 4px;
}

a:hover {
    background-color: white;
}

.page-link:hover,
button:hover {
    color: rgb(0, 150, 255);
    scale: 1.1;
    cursor: pointer;
}

a:hover {
    box-shadow: 0 0 0 3px rgb(0, 150, 255);
}

main,
section {
    width: 100svw;
    height: 100svh;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    user-select: none;
}

section,
.content,
main .content > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    background-color: white;
    position: absolute;
    display: none;
    font-size: calc(14px + 0.5vw);
}

.content {
    width: 100%;
    height: 100%;
}

.content > div {
    padding: 10px;
}

#osu {
    left: -100vw;
}

#coding {
    left: 100vw;
}

#osu,
#coding {
    top: 0;
}

#about {
    left: 0;
    top: 100vh;
}

#osu button {
    margin-left: calc(20px + 2vw);
}

#coding button {
    margin-right: calc(20px + 2vw);
}

img {
    width: calc(150px + 5vw);
    height: calc(150px + 5vw);
}

@media (max-width: 600px) {
    .content {
        flex-direction: column;
    }

    #osu button,
    #coding button {
        margin: 0;
    }
}
