@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

* {
    font-family: "Rubik Mono One", monospace;
    color: white;
}

html {
    background-color: rgb(25, 25, 25);
}

body {
    margin: 0;
    overflow: hidden;
}

/* Sections */

section,
.content,
main .content > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: none;
    font-size: calc(14px + 0.5vw);
}

main,
section {
    width: 100svw;
    height: 100svh;
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    user-select: none;
}

.content {
    width: 100%;
    height: 100%;
}

.content > div {
    padding: 10px;
}

#osu {
    left: -100svw;
}

#coding {
    left: 100svw;
}

#osu,
#coding {
    top: 0;
}

#about {
    left: 0;
    top: 100svh;
}

/* Buttons, Links */

button {
    all: unset;
}

a {
    text-decoration: none;
    line-height: 2;
    padding: 4px;
}

.page-link,
a,
button,
button > * {
    transition: all 0.2s;
}

.page-link {
    color: rgb(120, 120, 120);
    font-size: calc(7px + 1.8vw);
}

button {
    padding: 10px;
    font-size: calc(30px + 1.8vw);
}

.page-link:hover,
button:hover {
    color: rgb(0, 150, 255);
    scale: 1.1;
    cursor: pointer;
}

a:hover {
    box-shadow: 0 0 0 3px rgb(0, 150, 255);
}

a,
a > *,
button:hover > * {
    color: rgb(0, 150, 255);
}

#osu button {
    margin-left: calc(20px + 2vw);
}

#coding button {
    margin-right: calc(20px + 2vw);
}

/* Images */

img {
    width: calc(150px + 5vw);
    height: calc(150px + 5vw);
}

/* Etc. */

.main-title {
    font-size: calc(10px + 5vw);
}

/* Snowflakes */

.snowflake {
    position: absolute;
    font-size: calc(16px + 0.5vw);
    z-index: -1000;
}

@media (max-width: 600px) {
    .content {
        flex-direction: column;
    }

    #osu button,
    #coding button {
        margin: 0;
    }
}
