@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(120deg, rgb(0, 40, 180), rgb(0, 180, 220));
  background-size: 200% 200%;
  color: white;
  animation: bgAnim 10s infinite;
}

@keyframes bgAnim {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}

a {
  color: rgb(255, 150, 255);
  font-weight: bold;
}

.container {
  width: 300%;
  height: 200%;
  position: relative;
  left: 0px;
  top: 0px;
  display: flex;
}

.container > div,
.title,
.content {
  flex: 1;
  display: flex;
}

.container > div,
.content {
  flex-direction: column;
}

.title,
.content {
  justify-content: center;
  align-items: center;
}

.content {
  gap: 20px;
  max-height: 100vh;
  flex-wrap: wrap-reverse;
}

h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: min(10vmin, 3rem);
}

.title {
  display: flex;
  justify-content: space-around;
}

.title-text,
.title > div,
.button {
  font-size: min(10vmin, 6rem);
}

.title > span,
.button {
  transition: opacity 0.2s, scale 0.2s;
  user-select: none;
  cursor: pointer;
}

.title > div {
  padding: min(2vmin, 20px);
}

.title > div:not(.button) {
  opacity: 0;
}

.button {
  opacity: 0.3;
}

.title > span:hover,
.button:hover {
  scale: 1.1;
}

.button:hover {
  opacity: 1;
}

.button.up {
  margin-bottom: min(8vmin, 5rem);
}

.cursor {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor,
h1 {
  z-index: 1000;
  pointer-events: none;
}

.title span {
  display: block;
}

.content > div:not(.button) {
  font-size: min(7vmin, 2rem);
  padding: min(4vmin, 3rem);
  max-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

#coding {
  flex-direction: column;
  gap: 20px;
}

#profile {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#profile img {
  width: max(20vmin, 150px);
  height: max(20vmin, 150px);
}

#profile .avatar {
  cursor: pointer;
}

#profile .rank {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.6em;
  flex-wrap: wrap;
  max-width: 500px;
  width: 90vw;
}

#profile .rank div span {
  font-size: 1.6em;
  color: rgb(255, 250, 0);
}

#profile .pp {
  color: rgb(255, 150, 255);
  font-size: 0.8em;
}

#profile .graph {
  max-width: 500px;
  width: 95vw;
  aspect-ratio: 10 / 3;
  margin: 10px 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

#profile div:has(.graph) {
  font-size: 0.5em;
}

#info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  max-width: 100vw;
  gap: 5rem;
}

#info img {
  width: max(22vmin, 180px);
  height: max(22vmin, 180px);
}

h2,
b {
  text-transform: uppercase;
}

@media screen and (max-height: 590px) {
  #profile > div:last-child {
    display: none;
  }
}
